* {
  box-sizing: border-box;
}

html,
body,
#root {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-areas:
    "a a"
    "b c"
    "d c"
    "e e";
  gap: 2em;
  padding: 2em;

  .area {
    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }

    &:nth-child(5) {
      grid-area: e;
    }
  }
}